body {
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.circle {
    height: 50px;
    width: 50px;
    background-color: #016e3f;
    border-radius: 50%;
}

.oval {
    height: 50px;
    width: 100px;
    background-color: #ca0303;
    border-radius: 50%;
}

.trapezoid {
	border-bottom: 50px solid #039d5d;
	border-left: 55px solid transparent;
	border-right: 55px solid transparent;
	height: 0;
	width: 125px;
}

.parallelogram {
	width: 150px;
	height: 100px;
	/* transform: skew(20deg); */
	background: #9e0377;
    transform: skewX(-45deg);
}