* {
    box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-around; */
}

/* .container:first-child {
    margin: 0;
    padding: 0;
} */

/* header {
    position: sticky;
    top: 0px;

}

main {
    width: 100%;
    height: auto;
    display: flex;
}
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
section p {
    font-size: 20px;
    border: 3.5px solid green;
    width: 400px;
    height: auto;
    /* margin: 20px; */
    /* padding: 20px; */
/* } */

/* div {
    margin: 30px;
    padding: 25px;
    background-color: rgb(156, 114, 182);
} */
img {
    width: 200px;
    height: 200px;
    border: 4.5px solid blue;
    border-radius: 50%;
}
.bor {
    display: block;
    border: 5px solid rgb(120, 251, 120);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    top: -230px;
    right: -90px;
} 

#heart {
    position: relative;
    width: 100px;
    height: 90px;
  }
  #heart:before,
  #heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  #heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
  }
